.images {
  background-image: url("../public/images/image\ 2.png");
}

.home-image {
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  height: 100vh;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

.home-image img {
  width: 100%;
  /* height: 100%; */
  object-fit: cover;
}

